<h2>記事詳細ページ</h2>
<div>
  <p>
    <span><%= @tweet.user.nickname %>：</span>
    <%= @tweet.text %>
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <%= link_to "EDIT", "/miniblog/#{@tweet.id}/edit" %>
      <%= link_to "DELETE", "/miniblog/#{@tweet.id}", method: :delete %>
    <% end %>
  </p>
</div>
